 
.cardContainer {
     width:min-content; 
    height: min-content;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center center ;
    align-items: center center; 
  }
.contentContainer {
    padding: 0.5em;
    margin: 0.5em;
    background-color: #f2f2f2;
    border-radius: 8px;
    justify-content: center;
    align-items: center;

  }
.contentContainer h2{
    margin: 0.2em;
    font-size: 12px;
    color: #8c8c8c;
    font-family: 'Montserrat', sans-serif;
  }
/*! Da estilo al titulo */
.titleName{
    color: black;
    font-family: 'Montserrat', sans-serif;;
    text-align: center;
    font-size: 20px; /* Aquí puedes ajustar el tamaño de fuente según tus preferencias */
    font-weight:bold; /* Puedes agregar negrita al texto si lo deseas */
    text-transform:inherit; /* Puedes convertir el texto en mayúsculas si lo deseas */
    /* Agrega cualquier otra propiedad adicional que desees */
    background-color: transparent;
}