
/* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("../../Imagenes/Fondo1.png");  */
body, html {
    margin: 0;
    padding: 0;
  }

.box {
        /* Estilos para el fondo en la landing page */
        background-image: url("../../Imagenes/Fondo3.png");
        background-size: 100% 100%; /* Ajusta la imagen para que cubra todo el contenedor sin recortarse */
        background-position: center center; /* Centra la imagen de fondo tanto vertical como horizontalmente */
        width: 100%;
        height: 100vh; /* Establece el alto del contenedor al 100% del viewport */
      }
      /* .container {
        position: fixed;
        right: 200px;
        top: 80px;
        width: 40vw;
        height: 30vh;
        padding: 20px; /* Ajusta el padding para dar más espacio alrededor */
        /* text-align: left;
        justify-items: left;
        align-items: center;
      }  */ 
      .frase {
        color: white;
        position: fixed;
        right: 200px;
        top: 120px;
        width: 40vw;
        height: 30vh;
        font-size: 60px;
        font-weight: BOLD;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 20px; /* Ajusta el margen inferior para separar la frase del botón */
      }
      .button {
        color: #741313;
        position: fixed;
        right: 200px;
        top: 400px;
        padding: 25px;
        font-weight: bold;
        border: 2px solid #ebebeb;
        border-radius: 6px;
        font-size: 18px;
        background-color: #00000046;
        cursor:auto;
        transition: 0.3s;
      }
      
      .button:hover {
        background-color: #7c7c7c73;
      }
      
  
      
      
      
/* 
.fraseBienvenida{
    color: rgb(222, 45, 45);
    font-size: 36px;
    font-weight: normal;
    font-family: 'Yeseva One', sans-serif;
} */

